.header {
  max-width: 100%;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 2% 10% 2% 10%;
}
.logo {
  margin-right: 5%;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 20%;
}
li {
  list-style-type: none;
  font-size: 16px;
}

@media (max-width: 450px) {
  .headerContainer {
    margin: 2% 0 0 2%;
  }
}
