.container {
  display: flex;
  flex-direction: column;
  max-width: 1220px;
  margin: 0 auto;
  overflow: auto;
}
.sort {
  width: 100%;
  padding: 45px 0;
  font-size: 16px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: end;
  grid-gap: 20px;
}
.sortBy {
  width: 20%;
  height: 40px;
  font-size: 16px;
  border: none;
  background: white;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}
.main {
  display: flex;
  grid-gap: 50px;
}
.menu {
  width: 30%;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.menuCategory {
  background-color: white;
  padding: 25px;
  padding-bottom: 10px;
  border-radius: 8px;
  grid-gap: 15px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.08);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.08);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.08);
}
.categoryHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.nameCategory {
  margin: 0;
  font-size: 16px;
}
.labelName.checkbox {
  display: flex;
  align-items: center;
  grid-gap: 15px;
  font-size: 14px;
}
.labelName.checkbox input {
  width: 16px;
  aspect-ratio: 1;
}
.rangeForm {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.buttons {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.buttons button {
  padding: 15px;
  background-color: #7bbcb0;
  color: white;
  font-family: "Nunito";
  border: none;
  font-size: 16px;
  border-radius: 8px;
  border: 1px transparent solid;
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}
.buttons button:hover {
  background-color: transparent;
  color: #7bbcb0;
  border: #7bbcb0 1px solid;
}

.catalog {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-gap: 15px;
}
@media (max-width: 1440px) {
  .container {
    max-width: 950px;
  }
}
