.container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  overflow: auto;
}
.sort {
  font-size: 16px;
  font-weight: 800;
  width: 100%;
  padding: 45px 0;
  display: flex;
  align-items: center;
  justify-content: end;
  grid-gap: 20px;
}
.sortBy {
  width: 250px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: white;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}
.main {
  display: flex;
  grid-gap: 50px;
}
.menu {
  width: 30%;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.menuCategory {
  background-color: white;
  padding: 25px;
  padding-bottom: 10px;
  border-radius: 8px;
  grid-gap: 15px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.08);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.08);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.08);
}
.categoryHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.nameCategory {
  margin: 0;
  font-size: 16px;
}
.labelName.checkbox {
  display: flex;
  align-items: center;
  grid-gap: 15px;
  font-size: 14px;
}
.labelName.checkbox input {
  width: 16px;
  aspect-ratio: 1;
}
.rangeForm {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.buttons {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.button {
  padding: 15px;
  background-color: #7bbcb0;
  color: white;
  font-family: "Nunito";
  border: none;
  font-size: 16px;
  border-radius: 8px;
  border: 1px transparent solid;
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}
.button:hover {
  background-color: white;
  color: #7bbcb0;
  border: #7bbcb0 1px solid;
}
.catalog {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-gap: 15px;
}
@media (max-width: 1440px) {
  .container {
    max-width: 1000px;
  }
  .main {
    grid-gap: 35px;
  }
  .menu {
    width: 35%;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .main {
    flex-direction: column;
  }
  .menu {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .buttons {
    flex-direction: row;
  }
}
@media (max-width: 800px) {
  .sort {
    justify-content: center;
  }
  .container {
    max-width: 90%;
  }
  .menu {
    flex-wrap: wrap;
    justify-content: center;
  }
  .catalog {
    grid-gap: 10px;
    scroll-snap-type: none;
  }
}
@media (max-width: 500px) {
  .sort {
    flex-direction: column;
    padding: 25px 0;
  }
  .catalog {
    justify-content: center;
    grid-auto-columns: 0.6fr;
  }
  .nameCategory {
    font-size: 14px;
  }
  .menuCategory {
    padding: 15px 15px 0px;
  }
}
