* {
  margin: 0;
  padding: 0;
}
.header {
  max-width: 100%;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.08);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.08);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.08);
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 2% 10% 2% 10%;
}
.logo {
  margin-right: 5%;
}
a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}
a:hover {
  color: #5e81fe;
}

.ulHeader {
  display: flex;
  flex-direction: row;
  gap: 20%;
}
.liHeader {
  list-style-type: none;
  font-size: 18px;
}

@media (max-width: 450px) {
  .headerContainer {
    max-width: 100%;
    margin: 2% 0 0 2%;
    justify-content: left;
  }
  .liHeader {
    font-size: 16px;
  }
  .ulHeader {
    gap: 20px;
  }
}
