button {
  padding: 15px;
  background-color: #7bbcb0;
  color: white;
  font-family: "Nunito";
  border: none;
  font-size: 16px;
  border-radius: 8px;
  border: 1px transparent solid;
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}
button:hover {
  background-color: transparent;
  color: #7bbcb0;
  border: #7bbcb0 1px solid;
}
