.Section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.TextBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.TextBlock h2 {
  margin-top: 5%;
  font-size: 10px;
  color: #3d4f9f;
  margin-bottom: 5%;
}
.TextBlock h1 {
  width: 450px;
  font-size: 36px;
  color: #3d4f9f;
  font-weight: 300;
  margin-bottom: 5%;
}
.buttonHome {
  background-color: #5789f4;
  color: white;
  border: none;
  padding: 13px;
  font-family: Nunito;
  font-weight: bold;
  margin: 20px;
  cursor: pointer;
  transition: ease 0.3s;
}
.buttonHome:hover {
  background-color: #405ea1;
}

.TextBlock li {
  font-size: 15px;
  color: #8d96bd;
}
.ImgBlock {
  margin-top: 5%;
}
.photo2 {
  display: none;
}
@media (max-width: 1000px) {
  .photo1 {
    display: none;
  }
  .photo2 {
    width: 100%;
    display: block;
  }
  .TextBlock h1 {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .TextBlock h1 {
    font-size: 23px;
    max-width: 300px;
  }
  .TextBlock li {
    margin-left: 5%;
  }
  .photo2 {
    width: 80%;
    margin-left: 10%;
  }
}
